In [1]:
import pandas as pd
import geopandas as gpd
import requests
import json
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

1. A dataset containing details about Metro Nashville Police Department reported incidents is available at https://data.nashville.gov/Police/Metro-Nashville-Police-Department-Incidents/2u6v-ujjs. Make use of the API to find all aggravated burglary incidents () that were reported during the nine month period from January 1, 2022 through September 30, 2021. (Hint: Check out the API Docs to see how to narrow down the response to just the desired results).

In [2]:
incident_reported = "https://data.nashville.gov/resource/2u6v-ujjs.json?$where=incident_reported between '2022-01-01T00:00:00' and '2022-09-30T23:59:59'&offense_description=BURGLARY- AGGRAVATED"
response = requests.get(incident_reported)

In [3]:
response

In [4]:
res = response.json()

In [5]:
res_df = pd.DataFrame(response.json())
res_df

,primary_key,incident_number,report_type,report_type_description,incident_status_code,incident_status_description,investigation_status,incident_occurred,incident_reported,incident_location,...,victim_type,victim_description,victim_gender,victim_race,victim_ethnicity,victim_county_resident,mapped_location,rpa,zone,zip_code
0,20220167824_11,20220167824,D,DISPATCHED,O,OPEN,Open,2022-04-07T15:00:00.000,2022-04-08T11:52:00.000,JACKSON ST,...,I,INDIVIDUAL (18 AND OVER),U,W,Non-Hispanic,NON RESIDENT,"{'type': 'Point', 'coordinates': [-86.8, 36.17]}",NaN,NaN,NaN
1,20220126184_31,20220126184,D,DISPATCHED,O,OPEN,Open,2022-03-18T02:30:00.000,2022-03-18T06:51:00.000,BENTON AVE,...,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.77, 36.13]}",8029,817,NaN
2,20220027854_12,20220027854,D,DISPATCHED,O,OPEN,Open,2022-01-18T07:45:00.000,2022-01-19T23:48:00.000,CANE RIDGE RD,...,I,INDIVIDUAL (18 AND OVER),M,B,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.66, 36.04]}",NaN,NaN,NaN
3,20220032825_11,20220032825,D,DISPATCHED,O,OPEN,Open,2022-01-23T00:40:00.000,2022-01-24T06:57:00.000,BROOKWOOD TER,...,I,INDIVIDUAL (18 AND OVER),F,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.86, 36.13]}",5019,121,NaN
4,20220010799_11,20220010799,D,DISPATCHED,O,OPEN,Open,2021-12-06T12:00:00.000,2022-01-21T16:25:00.000,SOUTH ST,...,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.78, 36.15]}",6805,815,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20220098934_12,20220098934,D,DISPATCHED,O,OPEN,Open,2022-03-03T09:30:00.000,2022-03-04T02:17:00.000,VILLAGE TRCE,...,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.74, 36.05]}",8653,827,NaN
996,20220123952_11,20220123952,D,DISPATCHED,O,OPEN,Open,2022-03-17T02:30:00.000,2022-03-17T03:10:00.000,WALLACE RD,...,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.72, 36.08]}",NaN,NaN,NaN
997,20220130076_11,20220130076,D,DISPATCHED,O,OPEN,Open,2022-03-20T08:49:00.000,2022-03-20T09:59:00.000,MISTLETOE CIR,...,I,INDIVIDUAL (18 AND OVER),M,B,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.58, 36.19]}",9541,523,NaN
998,20220129146_12,20220129146,D,DISPATCHED,O,OPEN,Open,2022-03-19T20:50:00.000,2022-03-19T21:53:00.000,16TH AVE S,...,I,INDIVIDUAL (18 AND OVER),F,W,Non-Hispanic,NON RESIDENT,"{'type': 'Point', 'coordinates': [-86.79, 36.15]}",6729,815,NaN
999,20220120382_11,20220120382,D,DISPATCHED,O,OPEN,Open,2022-03-09T15:00:00.000,2022-03-15T10:26:00.000,SAUNDERS AVE,...,I,INDIVIDUAL (18 AND OVER),F,W,Unknown,RESIDENT,"{'type': 'Point', 'coordinates': [-86.73, 36.24]}",1793,723,NaN

In [6]:
offense = "https://data.nashville.gov/resource/2u6v-ujjs.json?offense_description=BURGLARY- AGGRAVATED"
offense_response = requests.get(offense)

In [7]:
offense_response

In [8]:
response_offense = pd.DataFrame(offense_response.json()).head(5)
response_offense

,primary_key,incident_number,report_type,report_type_description,incident_status_code,incident_status_description,investigation_status,incident_occurred,incident_reported,incident_location,...,weapon_description,victim_number,domestic_related,victim_type,victim_description,victim_gender,victim_race,victim_ethnicity,victim_county_resident,mapped_location
0,20171099391_21,20171099391,D,DISPATCHED,A,CLEARED BY ARREST,Closed,2017-12-16T18:30:00.000,2017-12-16T22:44:00.000,1101 1101,...,PERSONAL (HANDS),1,True,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.586, 36...."
1,20190582775_11,20190582775,D,DISPATCHED,A,CLEARED BY ARREST,Closed,2019-08-05T23:08:00.000,2019-08-05T23:41:00.000,1726 1726,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.795, 36...."
2,20190406807_11,20190406807,T,NaN,O,OPEN,Open,2019-05-24T15:00:00.000,2019-05-28T09:27:00.000,CLIFTON LN,...,NONE,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,"{'type': 'Point', 'coordinates': [-86.79, 36.11]}"
3,20160236445_11,20160236445,D,DISPATCHED,A,CLEARED BY ARREST,Closed,2016-03-12T02:20:00.000,2016-03-12T03:31:00.000,142 142,...,PERSONAL (HANDS),1,False,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.674, 36...."
4,20210073684_11,20210073684,D,DISPATCHED,A,CLEARED BY ARREST,Closed,2021-02-06T14:41:00.000,2021-02-06T17:35:00.000,706 706,...,CLUB,1,False,I,INDIVIDUAL (18 AND OVER),F,W,Non-Hispanic,RESIDENT,"{'type': 'Point', 'coordinates': [-86.73, 36.12]}"

In [9]:
burglary = [res_df, response_offense]
burglary

[        primary_key incident_number report_type report_type_description  \
 0    20220167824_11     20220167824           D              DISPATCHED
 1    20220126184_31     20220126184           D              DISPATCHED
 2    20220027854_12     20220027854           D              DISPATCHED
 3    20220032825_11     20220032825           D              DISPATCHED
 4    20220010799_11     20220010799           D              DISPATCHED
 ..              ...             ...         ...                     ...
 995  20220098934_12     20220098934           D              DISPATCHED
 996  20220123952_11     20220123952           D              DISPATCHED
 997  20220130076_11     20220130076           D              DISPATCHED
 998  20220129146_12     20220129146           D              DISPATCHED
 999  20220120382_11     20220120382           D              DISPATCHED

     incident_status_code incident_status_description investigation_status  \
 0                      O                        OPEN                 Open
 1                      O                        OPEN                 Open
 2                      O                        OPEN                 Open
 3                      O                        OPEN                 Open
 4                      O                        OPEN                 Open
 ..                   ...                         ...                  ...
 995                    O                        OPEN                 Open
 996                    O                        OPEN                 Open
 997                    O                        OPEN                 Open
 998                    O                        OPEN                 Open
 999                    O                        OPEN                 Open

            incident_occurred        incident_reported incident_location  ...  \
 0    2022-04-07T15:00:00.000  2022-04-08T11:52:00.000        JACKSON ST  ...
 1    2022-03-18T02:30:00.000  2022-03-18T06:51:00.000        BENTON AVE  ...
 2    2022-01-18T07:45:00.000  2022-01-19T23:48:00.000     CANE RIDGE RD  ...
 3    2022-01-23T00:40:00.000  2022-01-24T06:57:00.000     BROOKWOOD TER  ...
 4    2021-12-06T12:00:00.000  2022-01-21T16:25:00.000          SOUTH ST  ...
 ..                       ...                      ...               ...  ...
 995  2022-03-03T09:30:00.000  2022-03-04T02:17:00.000      VILLAGE TRCE  ...
 996  2022-03-17T02:30:00.000  2022-03-17T03:10:00.000        WALLACE RD  ...
 997  2022-03-20T08:49:00.000  2022-03-20T09:59:00.000     MISTLETOE CIR  ...
 998  2022-03-19T20:50:00.000  2022-03-19T21:53:00.000        16TH AVE S  ...
 999  2022-03-09T15:00:00.000  2022-03-15T10:26:00.000      SAUNDERS AVE  ...

     victim_type        victim_description victim_gender victim_race  \
 0             I  INDIVIDUAL (18 AND OVER)             U           W
 1             I  INDIVIDUAL (18 AND OVER)             M           W
 2             I  INDIVIDUAL (18 AND OVER)             M           B
 3             I  INDIVIDUAL (18 AND OVER)             F           W
 4             I  INDIVIDUAL (18 AND OVER)             M           W
 ..          ...                       ...           ...         ...
 995           I  INDIVIDUAL (18 AND OVER)             M           W
 996           I  INDIVIDUAL (18 AND OVER)             M           W
 997           I  INDIVIDUAL (18 AND OVER)             M           B
 998           I  INDIVIDUAL (18 AND OVER)             F           W
 999           I  INDIVIDUAL (18 AND OVER)             F           W

     victim_ethnicity victim_county_resident  \
 0       Non-Hispanic           NON RESIDENT
 1       Non-Hispanic               RESIDENT
 2       Non-Hispanic               RESIDENT
 3       Non-Hispanic               RESIDENT
 4       Non-Hispanic               RESIDENT
 ..               ...                    ...
 995     Non-Hispanic               RESIDENT
 996     Non-Hispanic               RESIDENT
 997     Non-Hispanic               RESIDENT
 998     Non-Hispanic           NON RESIDENT
 999          Unknown               RESIDENT

                                        mapped_location   rpa zone zip_code
 0     {'type': 'Point', 'coordinates': [-86.8, 36.17]}   NaN  NaN      NaN
 1    {'type': 'Point', 'coordinates': [-86.77, 36.13]}  8029  817      NaN
 2    {'type': 'Point', 'coordinates': [-86.66, 36.04]}   NaN  NaN      NaN
 3    {'type': 'Point', 'coordinates': [-86.86, 36.13]}  5019  121      NaN
 4    {'type': 'Point', 'coordinates': [-86.78, 36.15]}  6805  815      NaN
 ..                                                 ...   ...  ...      ...
 995  {'type': 'Point', 'coordinates': [-86.74, 36.05]}  8653  827      NaN
 996  {'type': 'Point', 'coordinates': [-86.72, 36.08]}   NaN  NaN      NaN
 997  {'type': 'Point', 'coordinates': [-86.58, 36.19]}  9541  523      NaN
 998  {'type': 'Point', 'coordinates': [-86.79, 36.15]}  6729  815      NaN
 999  {'type': 'Point', 'coordinates': [-86.73, 36.24]}  1793  723      NaN

 [1000 rows x 31 columns],
       primary_key incident_number report_type report_type_description  \
 0  20171099391_21     20171099391           D              DISPATCHED
 1  20190582775_11     20190582775           D              DISPATCHED
 2  20190406807_11     20190406807           T                     NaN
 3  20160236445_11     20160236445           D              DISPATCHED
 4  20210073684_11     20210073684           D              DISPATCHED

   incident_status_code incident_status_description investigation_status  \
 0                    A           CLEARED BY ARREST               Closed
 1                    A           CLEARED BY ARREST               Closed
 2                    O                        OPEN                 Open
 3                    A           CLEARED BY ARREST               Closed
 4                    A           CLEARED BY ARREST               Closed

          incident_occurred        incident_reported incident_location  ...  \
 0  2017-12-16T18:30:00.000  2017-12-16T22:44:00.000         1101 1101  ...
 1  2019-08-05T23:08:00.000  2019-08-05T23:41:00.000         1726 1726  ...
 2  2019-05-24T15:00:00.000  2019-05-28T09:27:00.000        CLIFTON LN  ...
 3  2016-03-12T02:20:00.000  2016-03-12T03:31:00.000           142 142  ...
 4  2021-02-06T14:41:00.000  2021-02-06T17:35:00.000           706 706  ...

   weapon_description victim_number domestic_related victim_type  \
 0   PERSONAL (HANDS)             1             True           I
 1               NONE             1            False           I
 2               NONE             1            False           B
 3   PERSONAL (HANDS)             1            False           I
 4               CLUB             1            False           I

          victim_description victim_gender victim_race victim_ethnicity  \
 0  INDIVIDUAL (18 AND OVER)             F           B     Non-Hispanic
 1  INDIVIDUAL (18 AND OVER)             M           W     Non-Hispanic
 2                  BUSINESS           NaN         NaN              NaN
 3  INDIVIDUAL (18 AND OVER)             F           B     Non-Hispanic
 4  INDIVIDUAL (18 AND OVER)             F           W     Non-Hispanic

   victim_county_resident                                    mapped_location
 0               RESIDENT  {'type': 'Point', 'coordinates': [-86.586, 36....
 1               RESIDENT  {'type': 'Point', 'coordinates': [-86.795, 36....
 2                    NaN  {'type': 'Point', 'coordinates': [-86.79, 36.11]}
 3               RESIDENT  {'type': 'Point', 'coordinates': [-86.674, 36....
 4               RESIDENT  {'type': 'Point', 'coordinates': [-86.73, 36.12]}

 [5 rows x 31 columns]]

In [10]:
incident_response_df = pd.DataFrame(response.json())
incident_response_df
cols = [1,2,3,4,5,6,7,8,9,10]
incidents = incident_response_df[incident_response_df.columns[cols]]

In [11]:
incidents_GH = incidents[['incident_reported']]
incidents_GH

           incident_reported
0    2022-04-08T11:52:00.000
1    2022-03-18T06:51:00.000
2    2022-01-19T23:48:00.000
3    2022-01-24T06:57:00.000
4    2022-01-21T16:25:00.000
..                       ...
995  2022-03-04T02:17:00.000
996  2022-03-17T03:10:00.000
997  2022-03-20T09:59:00.000
998  2022-03-19T21:53:00.000
999  2022-03-15T10:26:00.000

[1000 rows x 1 columns]

2. Using the 2020 American Community Survey API, obtain, for each census tract, the population (B01001_001E in the detailed tables) and the median income (S1901_C01_012E in the subject tables). Hint: Tennessee's FIPS code is 47 and Davidson County's FIPS code is 37.

In [12]:
endpoint = 'https://api.census.gov/data/2020/acs/acs5/variables.html'

response = requests.get(endpoint)

In [13]:
census = f'https://api.census.gov/data/2020/acs/acs5?get=NAME,B01001_001E&for=tract:*&in=state:47'

response = requests.get(census)

In [14]:
tn_census = pd.DataFrame(response.json())
tn_census

,0,1,2,3,4
0,NAME,B01001_001E,state,county,tract
1,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105
...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",6580,47,147,080103
1698,"Census Tract 801.04, Robertson County, Tennessee",7936,47,147,080104
1699,"Census Tract 802, Robertson County, Tennessee",5716,47,147,080200
1700,"Census Tract 803.01, Robertson County, Tennessee",2722,47,147,080301
1701,"Census Tract 803.02, Robertson County, Tennessee",2991,47,147,080302

In [15]:
tn_census = tn_census.drop(labels=0, axis=0)
tn_census

                                                     0     1   2    3       4
1      Census Tract 190.04, Davidson County, Tennessee  4470  47  037  019004
2      Census Tract 190.07, Davidson County, Tennessee  2904  47  037  019007
3      Census Tract 190.08, Davidson County, Tennessee  6005  47  037  019008
4      Census Tract 191.05, Davidson County, Tennessee  5707  47  037  019105
5      Census Tract 191.06, Davidson County, Tennessee  4336  47  037  019106
...                                                ...   ...  ..  ...     ...
1697  Census Tract 801.03, Robertson County, Tennessee  6580  47  147  080103
1698  Census Tract 801.04, Robertson County, Tennessee  7936  47  147  080104
1699     Census Tract 802, Robertson County, Tennessee  5716  47  147  080200
1700  Census Tract 803.01, Robertson County, Tennessee  2722  47  147  080301
1701  Census Tract 803.02, Robertson County, Tennessee  2991  47  147  080302

[1701 rows x 5 columns]

In [16]:
tn_census = tn_census.rename(columns={0:'Name', 1:'Population', 2:'State_Code',
                                     3:'County_Code', 4: 'Tract'})
tn_census

,Name,Population,State_Code,County_Code,Tract
1,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105
5,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106
...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",6580,47,147,080103
1698,"Census Tract 801.04, Robertson County, Tennessee",7936,47,147,080104
1699,"Census Tract 802, Robertson County, Tennessee",5716,47,147,080200
1700,"Census Tract 803.01, Robertson County, Tennessee",2722,47,147,080301
1701,"Census Tract 803.02, Robertson County, Tennessee",2991,47,147,080302

In [17]:
tn_census['Population'] = tn_census['Population'].astype(float).astype(int)

In [18]:
tn_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1701 entries, 1 to 1701
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         1701 non-null   object
 1   Population   1701 non-null   int32
 2   State_Code   1701 non-null   object
 3   County_Code  1701 non-null   object
 4   Tract        1701 non-null   object
dtypes: int32(1), object(4)
memory usage: 59.9+ KB

In [19]:
tn_davidson_census = tn_census[tn_census['County_Code'] == '037']
tn_davidson_census

,Name,Population,State_Code,County_Code,Tract
1,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105
5,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106
...,...,...,...,...,...
1651,"Census Tract 189.01, Davidson County, Tennessee",3280,47,037,018901
1652,"Census Tract 189.02, Davidson County, Tennessee",2704,47,037,018902
1653,"Census Tract 189.04, Davidson County, Tennessee",3410,47,037,018904
1654,"Census Tract 189.05, Davidson County, Tennessee",3292,47,037,018905
1655,"Census Tract 190.03, Davidson County, Tennessee",4427,47,037,019003

In [20]:
median_income = f'https://api.census.gov/data/2020/acs/acs5/subject?get=NAME,S1901_C01_012E&for=tract:*&in=state:47'

response = requests.get(median_income)

In [21]:
tn_median_income_json = response.json()

In [22]:
tn_median_income = pd.DataFrame(response.json())
tn_median_income

,0,1,2,3,4
0,NAME,S1901_C01_012E,state,county,tract
1,"Census Tract 190.04, Davidson County, Tennessee",44001,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",48485,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",50512,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",48271,47,037,019105
...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",78731,47,147,080103
1698,"Census Tract 801.04, Robertson County, Tennessee",65921,47,147,080104
1699,"Census Tract 802, Robertson County, Tennessee",63967,47,147,080200
1700,"Census Tract 803.01, Robertson County, Tennessee",50169,47,147,080301
1701,"Census Tract 803.02, Robertson County, Tennessee",34115,47,147,080302

In [23]:
tn_davidson_median_income_df = tn_median_income.rename(columns ={0:'Name', 1: 'Median_Income', 2: 'State_Code', 3: 'County_Code', 4: 'Tract'})
tn_davidson_median_income_df

,Name,Median_Income,State_Code,County_Code,Tract
0,NAME,S1901_C01_012E,state,county,tract
1,"Census Tract 190.04, Davidson County, Tennessee",44001,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",48485,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",50512,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",48271,47,037,019105
...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",78731,47,147,080103
1698,"Census Tract 801.04, Robertson County, Tennessee",65921,47,147,080104
1699,"Census Tract 802, Robertson County, Tennessee",63967,47,147,080200
1700,"Census Tract 803.01, Robertson County, Tennessee",50169,47,147,080301
1701,"Census Tract 803.02, Robertson County, Tennessee",34115,47,147,080302

In [24]:
tn_davidson_median_income_df = tn_davidson_median_income_df.drop(labels=0, axis=0)
tn_davidson_median_income_df

,Name,Median_Income,State_Code,County_Code,Tract
1,"Census Tract 190.04, Davidson County, Tennessee",44001,47,037,019004
2,"Census Tract 190.07, Davidson County, Tennessee",48485,47,037,019007
3,"Census Tract 190.08, Davidson County, Tennessee",50512,47,037,019008
4,"Census Tract 191.05, Davidson County, Tennessee",48271,47,037,019105
5,"Census Tract 191.06, Davidson County, Tennessee",65323,47,037,019106
...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",78731,47,147,080103
1698,"Census Tract 801.04, Robertson County, Tennessee",65921,47,147,080104
1699,"Census Tract 802, Robertson County, Tennessee",63967,47,147,080200
1700,"Census Tract 803.01, Robertson County, Tennessee",50169,47,147,080301
1701,"Census Tract 803.02, Robertson County, Tennessee",34115,47,147,080302

In [25]:
tn_davidson_census_income = pd.merge(tn_davidson_census, tn_davidson_median_income_df, how = 'outer')
tn_davidson_census_income

,Name,Population,State_Code,County_Code,Tract,Median_Income
0,"Census Tract 190.04, Davidson County, Tennessee",4470.0,47,037,019004,44001
1,"Census Tract 190.07, Davidson County, Tennessee",2904.0,47,037,019007,48485
2,"Census Tract 190.08, Davidson County, Tennessee",6005.0,47,037,019008,50512
3,"Census Tract 191.05, Davidson County, Tennessee",5707.0,47,037,019105,48271
4,"Census Tract 191.06, Davidson County, Tennessee",4336.0,47,037,019106,65323
...,...,...,...,...,...,...
1696,"Census Tract 801.03, Robertson County, Tennessee",NaN,47,147,080103,78731
1697,"Census Tract 801.04, Robertson County, Tennessee",NaN,47,147,080104,65921
1698,"Census Tract 802, Robertson County, Tennessee",NaN,47,147,080200,63967
1699,"Census Tract 803.01, Robertson County, Tennessee",NaN,47,147,080301,50169
1700,"Census Tract 803.02, Robertson County, Tennessee",NaN,47,147,080302,34115

In [26]:
tn_davidson_census_income['incident_reported'] = incidents_GH
tn_davidson_census_income

,Name,Population,State_Code,County_Code,Tract,Median_Income,incident_reported
0,"Census Tract 190.04, Davidson County, Tennessee",4470.0,47,037,019004,44001,2022-04-08T11:52:00.000
1,"Census Tract 190.07, Davidson County, Tennessee",2904.0,47,037,019007,48485,2022-03-18T06:51:00.000
2,"Census Tract 190.08, Davidson County, Tennessee",6005.0,47,037,019008,50512,2022-01-19T23:48:00.000
3,"Census Tract 191.05, Davidson County, Tennessee",5707.0,47,037,019105,48271,2022-01-24T06:57:00.000
4,"Census Tract 191.06, Davidson County, Tennessee",4336.0,47,037,019106,65323,2022-01-21T16:25:00.000
...,...,...,...,...,...,...,...
1696,"Census Tract 801.03, Robertson County, Tennessee",NaN,47,147,080103,78731,NaN
1697,"Census Tract 801.04, Robertson County, Tennessee",NaN,47,147,080104,65921,NaN
1698,"Census Tract 802, Robertson County, Tennessee",NaN,47,147,080200,63967,NaN
1699,"Census Tract 803.01, Robertson County, Tennessee",NaN,47,147,080301,50169,NaN
1700,"Census Tract 803.02, Robertson County, Tennessee",NaN,47,147,080302,34115,NaN

3. Download the 2020 census tract shapefiles for Tennessee from https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.2020.html. (The FIPS code for Tennessee is 47). Perform a spatial join to determine the census tract in which each burglary incident occurred.

In [31]:
census_track = gpd.read_file('./tn_census_tract/')

In [32]:
census_track

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,47,175,925200,47175925200,9252,Census Tract 9252,G5020,S,227429512,1667739,+35.7438100,-085.4940227,"POLYGON ((-85.61516 35.76106, -85.61509 35.761..."
1,47,175,925000,47175925000,9250,Census Tract 9250,G5020,S,480712883,1225717,+35.6695378,-085.4220628,"POLYGON ((-85.60513 35.70854, -85.60511 35.708..."
2,47,003,950201,47003950201,9502.01,Census Tract 9502.01,G5020,S,121774227,0,+35.6517480,-086.5575518,"POLYGON ((-86.64406 35.64029, -86.64375 35.642..."
3,47,003,950202,47003950202,9502.02,Census Tract 9502.02,G5020,S,110617191,700793,+35.5845755,-086.5790796,"POLYGON ((-86.66377 35.58189, -86.66367 35.582..."
4,47,093,003300,47093003300,33,Census Tract 33,G5020,S,5860088,229299,+36.0020586,-083.8371218,"POLYGON ((-83.86208 35.99255, -83.86207 35.992..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,47,073,050501,47073050501,505.01,Census Tract 505.01,G5020,S,83355996,0,+36.5659159,-082.7715246,"POLYGON ((-82.85011 36.54107, -82.84955 36.541..."
1697,47,073,050601,47073050601,506.01,Census Tract 506.01,G5020,S,23847669,177932,+36.5836443,-082.6318663,"POLYGON ((-82.68939 36.58793, -82.68936 36.588..."
1698,47,073,050602,47073050602,506.02,Census Tract 506.02,G5020,S,23386546,668716,+36.5467218,-082.6458382,"POLYGON ((-82.69446 36.54856, -82.69445 36.548..."
1699,47,073,050502,47073050502,505.02,Census Tract 505.02,G5020,S,32873931,311980,+36.5332207,-082.7586081,"POLYGON ((-82.82242 36.52006, -82.82171 36.520..."
1700,47,073,050503,47073050503,505.03,Census Tract 505.03,G5020,S,17050728,568444,+36.5225397,-082.6970280,"POLYGON ((-82.73162 36.52804, -82.73108 36.528..."

In [33]:
selected_cols = ['NAMELSAD', 'geometry']

# Select those columns
census_track = census_track[selected_cols]
census_track = census_track.rename(columns ={'NAMELSAD':'Census', 'geometry':'Geometry'})
census_track

                    Census                                           Geometry
0        Census Tract 9252  POLYGON ((-85.61516 35.76106, -85.61509 35.761...
1        Census Tract 9250  POLYGON ((-85.60513 35.70854, -85.60511 35.708...
2     Census Tract 9502.01  POLYGON ((-86.64406 35.64029, -86.64375 35.642...
3     Census Tract 9502.02  POLYGON ((-86.66377 35.58189, -86.66367 35.582...
4          Census Tract 33  POLYGON ((-83.86208 35.99255, -83.86207 35.992...
...                    ...                                                ...
1696   Census Tract 505.01  POLYGON ((-82.85011 36.54107, -82.84955 36.541...
1697   Census Tract 506.01  POLYGON ((-82.68939 36.58793, -82.68936 36.588...
1698   Census Tract 506.02  POLYGON ((-82.69446 36.54856, -82.69445 36.548...
1699   Census Tract 505.02  POLYGON ((-82.82242 36.52006, -82.82171 36.520...
1700   Census Tract 505.03  POLYGON ((-82.73162 36.52804, -82.73108 36.528...

[1701 rows x 2 columns]

4. Aggregate the data by census tract. Warning: each incident can appear multiple times if there are multiple victims, so be sure that you aren't double-counting any incidents. Which census tract had the highest number of burglaries? Which census tract had the highest number of burglaries per 1000 residents? Note: Make sure that you keep all census tracts, not just those that have had a burglary.

In [27]:
tn_census['Population / 1000'] = tn_census['Population'] / 1000
tn_census

,Name,Population,State_Code,County_Code,Tract,Population / 1000
1,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004,4.470
2,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007,2.904
3,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008,6.005
4,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105,5.707
5,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106,4.336
...,...,...,...,...,...,...
1697,"Census Tract 801.03, Robertson County, Tennessee",6580,47,147,080103,6.580
1698,"Census Tract 801.04, Robertson County, Tennessee",7936,47,147,080104,7.936
1699,"Census Tract 802, Robertson County, Tennessee",5716,47,147,080200,5.716
1700,"Census Tract 803.01, Robertson County, Tennessee",2722,47,147,080301,2.722
1701,"Census Tract 803.02, Robertson County, Tennessee",2991,47,147,080302,2.991

In [28]:
tn_census_tract_burglaries = tn_census.value_counts('Tract')
tn_census_tract_burglaries

Tract
980100    13
950100     7
960100     6
950400     6
975200     5
          ..
020406     1
020405     1
020404     1
020403     1
980402     1
Length: 1296, dtype: int64

In [29]:
tract_burglaries_per1000 = tn_census_tract_burglaries / tn_census['Census / 1000']
tract_burglaries_per1000

KeyError: 'Census / 1000'

5. Merge in the census data that you gathered in question 2. Remove any rows that have zero population or negative median income values.

In [30]:
census_income_incidents = tn_davidson_census_income[tn_davidson_census_income['County_Code'] == '037']
census_income_incidents

,Name,Population,State_Code,County_Code,Tract,Median_Income,incident_reported
0,"Census Tract 190.04, Davidson County, Tennessee",4470.0,47,037,019004,44001,2022-04-08T11:52:00.000
1,"Census Tract 190.07, Davidson County, Tennessee",2904.0,47,037,019007,48485,2022-03-18T06:51:00.000
2,"Census Tract 190.08, Davidson County, Tennessee",6005.0,47,037,019008,50512,2022-01-19T23:48:00.000
3,"Census Tract 191.05, Davidson County, Tennessee",5707.0,47,037,019105,48271,2022-01-24T06:57:00.000
4,"Census Tract 191.06, Davidson County, Tennessee",4336.0,47,037,019106,65323,2022-01-21T16:25:00.000
...,...,...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",3280.0,47,037,018901,47500,2022-02-06T12:02:00.000
170,"Census Tract 189.02, Davidson County, Tennessee",2704.0,47,037,018902,75286,2022-02-08T18:29:00.000
171,"Census Tract 189.04, Davidson County, Tennessee",3410.0,47,037,018904,61750,2022-02-06T06:09:00.000
172,"Census Tract 189.05, Davidson County, Tennessee",3292.0,47,037,018905,65960,2022-06-05T01:44:00.000
173,"Census Tract 190.03, Davidson County, Tennessee",4427.0,47,037,019003,44349,2022-06-05T01:44:00.000